/* Colors
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

   Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

   Dimensions:
   * The entire content and the main section content area is `960px` wide.
*/

/* Element Styling */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
}

body {
    background: url("../images/rockywall.png");
    margin: 0px;
}

header nav {
    float: right;
    margin-top: 30px;
}

header nav a {
    text-decoration: none;
    padding: 0px 10px;
}

header nav a:hover {
    text-decoration: none;
    color: #000000; 
    padding: 0px 10px;
}

header nav a:nth-child(2) {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #4AAAA5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    border: 2px solid #DDDDDD;
}

section p {
    margin-top: 0px;
}

input[type=text], textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px; 
    padding: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background: #4AAAA5;
    color: #FFFFFF;
    padding: 10px 25px;
    margin: 0px;
    border: none;
}

/* Class Styling */
.name-header {
    float: left;
    background: #4AAAA5;
    color: #FFFFFF;
    padding: 20px;
    margin: 0px;
}

.top-header {
    margin-top: 0px;
    background: #FFFFFF;
    border-bottom: #CCCCCC 1px solid;
}

.main-width {
    width: 960px;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.clear {
    overflow: auto;
}

.main-content {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-top: 40px;
    padding: 20px;
}

.top-margin-20 {
    margin-top: 20px;
}

/* Id Styling */

#profileImage {
    float: left;
    max-width: 150px;
    max-height: 150px;
    margin-right: 20px;
}